<launch>
    <include file="$(find wego)/launch/teleop.launch"/>
    <include file="$(find wego)/launch/navigation.launch"/>
<!-- 
    <node pkg="main" type="main.py" name="main"/>
    <node pkg="main" type="lane_main.py" name="lane_main"/>
    <node pkg="main" type="pidcal.py" name="pidcal"/> -->
    <node name="main" type="main.py" pkg="main" output="screen"/>
    <!-- <node name="lane_main" type="lane_main.py" pkg="main" output="screen"/> -->
    <!-- <node name="pidcal" type="pidcal.py" pkg="main" output="screen"/> -->

    <node name="rviz_nav" pkg="rviz" type="rviz" args="-d $(find wego)/rviz/navigation.rviz" />
</launch>